<!DOCTYPE html>
<html lang="en">
<head>
{% block body %}
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style=" background-color: transparent; ">
<header>
    <nav class="navbar navbar-inverse"  style="margin-bottom: 0;">
        <div class="container pt-3">
            <a class="nav navbar-nav">
            <img src="https://static.vecteezy.com/system/resources/previews/010/161/401/non_2x/red-fire-free-png.png"
                 width="50" height="50" alt="">
            </a>
      <a class="navbar-brand" style="color:white;"> TopTier</a>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('account') }}">Account</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
                {% else %}
                <li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                {% endif %}
                {% if current_user.id == 1 %}
                <li><a href="{{ url_for('admin') }}"> Admin </a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<main style="padding-top:40px;">
<table class='table table-bordered table-primary' style="margin-bottom: 0; width: 75%; margin: auto;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
    {% for user in user %}
  <tbody>
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.password }}</td>
    </tr>

  </tbody>
    {% endfor %}
</table>
</main>
</body>
{% endblock %}
<footer class="bg-light text-center" style="padding-top: 600px;">
  <!-- Copyright -->
    <p style="border-top: 40px solid #202020; padding-bottom: 0px; margin: 0px;">  </p>
  <div class="text-center p-3" style="background-color: #202020; height: 50px;">
   <span style=" color: white;"> © 2022 Copyright:</span>
    <a class="text-dark" href=" {{ url_for('index') }}">TopTier.com</a>
  </div>
  <!-- Copyright -->
</footer>
</html>